{% load static %}
<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">

    <title>Portfolio</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
</head>

<body>
    <main role="main">
        <section class="jumbotron text-center">
            <div class="container">
                <h1 class="jumbotron-heading">Todd Rings</h1>
                <p class="lead text-muted">Hi, I'm Todd. I'm a Software Developer. I like making Front-end Single Page
                    websites with React, Back-end applications with Java, and Full-Stack applications with Python and
                    Django.</p>
                <p>
                    <a href="mailto:todd.rings@gmail.com" class="btn btn-primary my-2">Email Todd</a>
                    <a href="https://www.github.com/trejiiten" class="btn btn-secondary my-2">GitHub Repo</a>
                </p>
                <img src="{% static 'toddrings.jpg' %}" alt="Hi, I'm Todd" height=300>
            </div>
        </section>

        <div class="album py-5 bg-light">
            <div class="container">
                <div class="row">
                    {% for job in jobs.all %}
                    <div class="col-md-4">
                        <a href="{% url 'detail' job.id %}">
                            <div class="card mb-4 box-shadow">
                                <img class="card-img-top" src="{{ job.image.url }}">
                                <div class="card-body">
                                    <p class="card-text">{{ job.summary }}</p>
                                </div>
                            </div>
                        </a>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>

    </main>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jquery-3.4.1.min.js' %}">
    </script>
    <script src="{% static 'popper.js' %}">
    </script>
    <script src="{% static 'js/bootstrap.min.js' %}">
    </script>
</body>

</html>